@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>R. Freid Construction</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to the Homepage of Robert Freid</h2>
        <h3>The B. Freed Band Travel Itenerary Management Database</h3>
        <p>
            This is the Final Project for the ASP.Net Core MVC Web Development Class
        </p>
        <p>
            This application demonstrates how to perform CRUD and Search
            operations using ASP.net 3.1 MVC for the MvcTravel SQL Database.
        </p>
    </div>
</div>
